<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{:config('app.app_name')}管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__ADMIN__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="__ADMIN__/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__ADMIN__/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/custom.css">

    <script src="__ADMIN__/dist/js/respond.js"></script>
    <script src="__ADMIN__/dist/js/html5shiv.min.js"></script>

    <script src="__ADMIN__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__ADMIN__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="__ADMIN__/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <script src="__ADMIN__/dist/js/adminlte.min.js"></script>
    <script src="__ADMIN__/plugins/layui/layer/layer.js"></script>
    <script src="__ADMIN__/plugins/laydate/laydate.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
