APP_DEBUG = true[APP]HOST =DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8mb4DEBUG = falsePREFIX = tp_[LANG]default_lang = zh-cn;[DOMAIN_BIND];CONF[api] = api;CONF[eamin] = admin[COMMON]img_domain =