<div class="search">
    <form class="form-inline">
        <input type="text" value="{$req['admin_user_id']??''}" name="admin_user_id" placeholder="搜索ID" class="form-control">
        <input type="text" value="{$req['account']??''}" name="account" placeholder="搜索账号" class="form-control">
        <select name="status" class="form-control">
            <option value="">搜索状态</option>
            <option <?php if (isset($req['status']) && $req['status'] === '0'){echo 'selected = "selected"';} ?> value="0">禁用</option>
            <option <?php if (isset($req['status']) && $req['status'] === '1'){echo 'selected = "selected"';} ?> value="1">正常</option>
        </select>
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
        <a {:auth_show_judge('AdminUser/addAdminUser')} class="btn btn-flat btn-success m_10 f_r" href="{:url('admin/AdminUser/showAdminUser')}"><i class="fa fa-plus m-r-10"></i>添 加</a>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>账号</th>
                            <th>昵称</th>
                            <th>角色</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v){ ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['account']}</td>
                                <td>{$v['nickname']}</td>
                                <td>{$v['authGroup'][0]['title']??''}</td>
                                <td>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <?php echo $v['status'] == 1 ? 'checked' : ''; ?> class="onoffswitch-checkbox" id="status{$v['id']}">
                                            <label class="onoffswitch-label" for="status{$v['id']}" onclick="changeAdminUser({$v['id']}, 'status')">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td>{$v['created_at']}</td>
                                <td>
                                    <a {:auth_show_judge('AdminUser/editAdminUser')} class="btn btn-flat btn-info btn-xs" href="{:url('admin/AdminUser/showAdminUser', ['id' => $v['id']])}"><i class="fa fa-edit"></i> 编辑</a>
                                    <a {:auth_show_judge('AdminUser/delAdminUser')} class="btn btn-flat btn-danger btn-xs" href="javascript:;" onclick="delAdminUser({$v['id']})"><i class="fa fa-trash-o"></i> 删除</a>
                                </td>
                            </tr>
                        <?php }?>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render();?></div>
            </div>
        </div>
    </div>
</div>

<script>
    function delAdminUser(id)
    {
        //确认框
        layer.confirm('确定删除吗？', {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.post('{:url("admin/AdminUser/delAdminUser")}', {id:id}, function (res) {
                if (res.code == '200'){
                    location.reload(true);
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            });
        });
    }

    function changeAdminUser(id, field)
    {
        var value = 0;
        if($('#'+field+id).is(':checked')) {
            value = 0;
        }
        else{
            value = 1;
        }

        //确认框
        layer.confirm('确定操作吗', {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.post('{:url("admin/AdminUser/changeAdminUser")}', {"id": id, "value": value, "field": field}, function (res) {
                if (res.code != 200) {
                    if(value == 1){
                        $('#'+field+id).prop('checked', false);
                    }
                    else {
                        $('#'+field+id).prop('checked', true);
                    }
                    layer.msg(res.msg, {icon: 5, time: 2500, offset: '80px'});
                }
            });
        }, function(index2) {
            if(value == 1){
                $('#'+field+id).prop('checked', false);
            }
            else {
                $('#'+field+id).prop('checked', true);
            }
        });
    }
</script>
