{__NOLAYOUT__}
<!DOCTYPE html>
<html>

{include file="head" /}

<body class="hold-transition skin-blue fixed sidebar-mini">

<div id="wrapper">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <form id="commentForm">
                <div class="box box-body" style="border: none;box-shadow: none;">
                    <div class="row dd_input_group">
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">新密码</label>
                            <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                                <input type="text" name="password" class="form-control" placeholder="请输入新密码">
                            </div>
                            <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                        </div>
                    </div>
                    <div class="row dd_input_group">
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">确认新密码</label>
                            <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                                <input type="text" name="password_confirm" class="form-control" placeholder="请再次输入新密码">
                            </div>
                            <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                        </div>
                    </div>
                    <div class="row dd_input_group">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                                <button type="button" class="btn btn-flat btn-primary btn-lg" onclick="sub()">提 交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function sub()
        {
            $.post('{:url("admin/AdminUser/updatePassword")}', $('#commentForm').serialize(), function (res) {
                if (res.code == '200'){
                    parent.layer.msg('提交成功', {icon: 6, time: 2000, offset: '80px'});
                    top.location.reload(true);
                    parent.layer.closeAll('iframe');
                }
                else {
                    parent.layer.msg(res.msg, {icon: 5, time: 2500, offset: '80px'});
                }
            });
        }
    </script>
</div>
</body>
</html>
