<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>淘宝验号管理平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__ADMIN__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="__ADMIN__/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__ADMIN__/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/custom.css?v=1.1">

    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>

    <script src="__ADMIN__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__ADMIN__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="__ADMIN__/dist/js/adminlte.min.js"></script>
    <script src="__ADMIN__/plugins/layui/layer/layer.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
