<aside class="main-sidebar">

    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="__ADMIN__/img/logo.jpg" class="img-circle">
            </div>
            <div class="pull-left info">
                <p><?php echo !empty(session('admin_user')['nickname']) ? session('admin_user')['nickname'] : session('admin_user')['account']; ?></p>
                <i class="fa fa-circle text-success"></i> 在线
            </div>
        </div>
        <?php $url = request()->baseUrl(); ?>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主导航</li>
            <li <?php if ($url == url('admin/Home/index')){ ?> class="active" <?php }?>>
                <a href="{:url('admin/Home/index')}">
                    <i class="fa fa-home"></i>
                    <span>主页</span>
                </a>
            </li>
            <?php foreach (config('menu.') as $k => $v){ ?>
                <?php if (is_array($v['url'])){ $actionArr = []; foreach ($v['url'] as $k1 => $v1){ $actionArr[] = url($v1['url']); } ?>
                    <li class="menu-li treeview <?php if (in_array($url, $actionArr)){ ?> active <?php }?>">
                        <a href="#">
                            <i class="fa {$v['icon']}"></i>
                            <span>{$k}</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <?php foreach ($v['url'] as $k1 => $v1){ ?>
                                <li class="menu-li">
                                    <a href="{:url($v1['url'])}">
                                        <i class="fa {$v1['icon']}"></i>
                                        <span>{$k1}</span>
                                    </a>
                                </li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } else { ?>
                    <li class="menu-li <?php if ($url == url($v['url'])){ ?> active <?php }?>">
                        <a href="{:url($v['url'])}">
                            <i class="fa {$v['icon']}"></i>
                            <span>{$k}</span>
                        </a>
                    </li>
                <?php } ?>
            <?php } ?>
        </ul>
    </section>

</aside>
